.inline {
    display: flex;
    align-items: center;
}
.inline button {
    margin-left: 5px;
}
nav {
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: left; 
}


nav a {
    color:brown; 
    font-size: 1.2em;
    margin: 0 15px; 
    text-decoration: none; 
    transition: color 0.3s ease; 
    position: relative; 
}
